body {
  background-color: rgb(236, 236, 236);
}
.choice-container {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.8rem;
  background-color: #7753fb;
  padding: 0.5rem;
  border-radius: 4rem;
  text-align: center;
}

.choice-container:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  transition: transform 150ms;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  color: white;
}
.correct {
  background-color: rgb(44, 167, 99);
}
.incorrect {
  background-color: rgb(212, 64, 64);
}

/* HUD */

#hud {
  display: flex;
  justify-content: space-between;
}
.hud-prefix {
  text-align: center;
  font-size: 2rem;
}
.hud-main-text {
  text-align: center;
}

/* Progress Bar */

#progress-bar {
  width: 15rem;
  height: 3rem;
  border: 0.3rem solid #7753fb;
  margin-top: 1.5rem;
  border-radius: 3rem;
}

#progress-bar-full {
  height: 2.4rem;
  width: 0%;
  background-color: #7753fb;
  border-radius: 3rem;
}

/* SPINNER */

#spinner {
  border: 1.5rem solid white;
  border-radius: 50%;
  border-top: 1.5rem solid #7753fb;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
